html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.5rem;
  border: 3px solid #9a816d;
}

.link-card {
  display: block;
  text-decoration: none;
}

h2 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

nav {
  display: flex;
}
